Django==4.2
requests==2.28.2
requests-html==0.10.0
gunicorn==20.1.0
pycodestyle==2.10.0
pydocstyle==6.3.0
black==23.1.0
selenium==4.10.0
psycopg==3.2.10
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
