{% load static %}
{% comment %}
The following 3 scripts MUST be loaded in this order, due to async functions/promises and call orders:
<script src="{% static 'js/folder_sort.js' %}"></script>
<script src="{% static 'js/collapsibles.js' %}"></script>
<script src="{% static 'js/play.js' %}"></script>
Do not use "defer". 
{% endcomment %}
<script src="{% static 'js/folder_sort.js' %}"></script>
<script src="{% static 'js/collapsibles.js' %}"></script>
<script src="{% static 'js/play.js' %}"></script>
<script src="{% static 'js/scrollpos.js' %}"></script>
</body>
</html>
