<form method="post" action="{% url 'tv:kodi_control' shortname=shortname series=series_name %}">
{% csrf_token %}
<p>
<button type="radio" name="action" id="subs_off" value="subs_off">Turn off subtitles</button><br/>
<button type="radio" name="action" id="subs_on" value="subs_on">Turn on subtitles</button><br/>
<button type="radio" name="action" id="loop_off" value="loop_off">Turn off looping</button><br/>
<button type="radio" name="action" id="loop_on" value="loop_on">Turn on looping</button><br/>
<button type="radio" name="action" id="next_item" value="next_item">Advance to the next playlist item</button><br/>
<button type="radio" name="action" id="next_stream" value="next_stream">Switch to the next audio stream</button><br/>
<button type="radio" name="action" id="passthrough" value="passthrough">
{% if passthrough_state %}
Disable audio passthrough
{% else %}
Enable audio passthrough
{% endif %}
</button><br/>
<button type="radio" name="action" id="adjust_display_rate" value="adjust_display_rate">
{% if adjust_display_rate_state %}
Disable adjust display rate
{% else %}
Enable adjust display rate
{% endif %}
</button>
</p>
</form>
