{% include "./header.html" %}
<a class="link" href="{% url 'tv:index' %}">Back to Library List</a>
<div class="flex-container">
    <button class="collapsible default-open" id="Active_Series_List">Active Series List</button>
    <div class="hidable">
        {% if active_series_list %}
            <ul>
            {% for series in active_series_list %}
                <li><a class="link" href="{% url 'tv:episodes' shortname=library_shortname series=series.series_name %}">{{ series.series_name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No series are active.</p>
        {% endif %}
    </div>
    <button class="collapsible" id="New_Series_List">New Series List</button>
    <div class="hidable">
        {% if new_series_list %}
            <ul>
            {% for series in new_series_list %}
                <li><a class="link" href="{% url 'tv:episodes' shortname=library_shortname series=series.series_name %}">{{ series.series_name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No series are new.</p>
        {% endif %}
    </div>
    <button class="collapsible" id="Complete_Series_List">Complete Series List</button>
    <div class="hidable">
        {% if complete_series_list %}
            <ul>
            {% for series in complete_series_list %}
                <li><a class="link" href="{% url 'tv:episodes' shortname=library_shortname series=series.series_name %}">{{ series.series_name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No series are complete.</p>
        {% endif %}
    </div>
    <button class="collapsible" id="Add_Series">Add Series</button>
    <div class="hidable">
        <form method="post">
        {% csrf_token %}
        <fieldset>
            <label for="series_name">Series Name (use "all" to scan for all possible series):</label>
            <input type="text" name="series_name" id="series_name" class="vTextField" maxlength="80" value="all"><br/>
            <input type="hidden" name="library" id="library" value="{{ library_shortname }}"><br/>
        </fieldset>
        <input type="submit" value="Submit" formaction="{% url 'tv:add_series' shortname=library_shortname %}">
        </form>
    </div>
    <button class="collapsible" id="Delete_Library">Delete Library</button>
    <div class="hidable">
        <form method="post">
        {% csrf_token %}
        <fieldset>
            <label for="library">{{ library_shortname }}</label>
            <input type="hidden" name="library" id="library" value="{{ library_shortname }}"><br/>
        </fieldset>
        <input type="submit" value="Submit" formaction="{% url 'tv:delete_library' %}">
        </form>
    </div>
</div>
{% include "./footer.html" %}
