{% include "./header.html" %}
<a href="{% url 'tv:index' %}">Back to Library List</a>
<div class="flex-container">
    <div>
        <h1>Active Series List</h1>
        {% if active_series_list %}
            <ul>
            {% for series in active_series_list %}
                <li><a href="{% url 'tv:episodes' shortname=library_shortname series=series.series_name %}">{{ series.series_name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No series are active.</p>
        {% endif %}
    </div>
    <div>
        <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Add Series</h1></legend>
            <label for="path">Series Name (use "all" to scan for all possible series):</label>
            <input type="text" name="series_name" id="series_name" class="vTextField" maxlength="80" value="all"><br/>
            <input type="hidden" name="library" id="library" value="{{ library_shortname }}"><br/>
        </fieldset>
        <input type="submit" value="Submit" formaction="{% url 'tv:add_series' shortname=library_shortname %}">
        </form>
    </div>
    <div>
        <h1>Available Series List</h1>
        {% if available_series_list %}
            <ul>
            {% for series in available_series_list %}
                <li><a href="{% url 'tv:episodes' shortname=library_shortname series=series.series_name %}">{{ series.series_name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No series are available.</p>
        {% endif %}
    </div>
    <div>
        <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>Delete Library</h1></legend>
            <label for="library">{{ library_shortname }}</label>
            <input type="hidden" name="library" id="library" value="{{ library_shortname }}"><br/>
        </fieldset>
        <input type="submit" value="Submit" formaction="{% url 'tv:delete_library' %}">
        </form>
    </div>
</div>
{% include "./footer.html" %}
