{% include "./header.html" %}
<h1>{{ series_name }}</h1>
<a class="link" href="{% url 'tv:series_library' shortname %}">Back to Series List</a>
<div class="flex-container">
<button class="collapsible default-open" id="Next_Episode">Next Episode</button>
<div class="hidable">
<form method="post">
{% csrf_token %}
<p>{{ next_episode.basename }}
<input type="hidden" name="smb_path" id="next" value="{{ next_episode }}">
<span class="conditional-break"><br/></span>
{% include "./play_button.html" %}
{% include "./maw_button.html" %}
</p>
</form>
</div>
<button class="collapsible default-open" id="Random_Episode">Random Episode</button>
<div class="hidable">
<form method="post">
{% csrf_token %}
<p>{{ random_episode.basename }}
<input type="hidden" name="smb_path" id="next" value="{{ random_episode }}">
<span class="conditional-break"><br/></span>
{% include "./play_button.html" %}
{% include "./maw_button.html" %}
</p>
</form>
</div>
<button class="collapsible default-open" id="Selected_Episode">Selected Episode</button>
<div class="hidable">
<form method="post">
{% csrf_token %}
<p><select name="smb_path" id="selected">
{% for ep in eplist %}
    <option value="{{ ep.smb_path }}">{{ ep.basename }}</option>
{% endfor %}
</select>
<span class="conditional-break"><br/></span>
{% include "./play_button.html" %}
{% include "./maw_button.html" %}
<input type="submit" value="&#9083" style="padding: 4px;" title="Mark watched up to (Check Through)" formaction="{% url 'tv:mark_watched_up_to' shortname=shortname series=series_name %}">
</p>
</form>
</div>
<button class="collapsible" id="All_Episodes">All Episodes</button>
<div class="hidable">
<form method="post" action="{% url 'tv:manage_all_episodes' shortname=shortname series=series_name %}">
{% csrf_token %}
<p>
<button type="submit" name="action" id="load_all" value="load_all">Sync episode list with disk (no changes to watched marks)</button><br/>
<button type="submit" name="action" id="mark_unwatched" value="mark_unwatched">Mark all episodes unwatched</button><br/>
<button type="submit" name="action" id="mark_watched" value="mark_watched">Mark all episodes watched</button><br/>
<button type="submit" name="action" id="delete_series" value="delete_series">Delete series from database (does not touch disk)</button>
</p>
</form>
</div>
<button class="collapsible" id="Kodi_Control">Kodi Control</button>
<div class="hidable">
<form method="post" action="{% url 'tv:kodi_control' shortname=shortname series=series_name %}">
{% csrf_token %}
<p>
<button type="radio" name="action" id="subs_off" value="subs_off">Turn off subtitles</button><br/>
<button type="radio" name="action" id="subs_on" value="subs_on">Turn on subtitles</button><br/>
<button type="radio" name="action" id="next_item" value="next_item">Advance to the next playlist item</button><br/>
<button type="radio" name="action" id="next_stream" value="next_stream">Switch to the next audio stream</button><br/>
<button type="radio" name="action" id="passthrough" value="passthrough">
{% if passthrough_state %}
Disable audio passthrough
{% else %}
Enable audio passthrough
{% endif %}
</button>
</p>
</form>
</div>
</div>
{% include "./footer.html" %}
